#contact {
    padding: 6% 10%;
}

.contact_wrapper {
    text-align: center;
}

.contact_wrapper h1 {
    font-size: 66px;
    margin-bottom: 20px;
}

.contact_wrapper p {
    font-family: 'Playfair Display', serif;
    opacity: 1;
    margin-bottom: 30px;
    font-size: 26px;

}
.social_icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        color: white;

        svg {
        font-size: 4em;
        cursor: pointer;       // nice UX
        transition: transform 0.3s ease;
    }

    svg:hover {
        transform: scale(1.15);
    }
    }

.contact-info p {
    opacity: 0.8;
    margin: 10px 0;
    font-size: 16px;
}

.contact-buttons {
    margin-top: 40px;
    justify-content: center;
}

.cv-button {
    display: inline-block;
    padding: 12px 30px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.cv-button:hover {
    background: white;
    color: black;
}